$breakpoint-tablet: 768px;
$breakpoint-mobile: 420px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #36384d;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  @media screen and (max-width: $breakpoint-tablet) {
    margin: 0;
    height: 100%;
  }
  .container {
    background: white;
    max-width: 900px;
    // min-width: 500px;
    height: 633px;
    display: flex;
    gap: 60px;
    padding: 20px 40px;
    border-radius: 30px;

    @media screen and (max-width: $breakpoint-tablet) {
      flex-direction: column-reverse;
      max-width: 90%;
      height: max-content;
      gap: 20px;
      border-radius: 20px;
      align-items: center;
      justify-content: flex-end;
      margin: auto 0;
      padding: 20px 40px;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      max-width: 100%;
      padding: 0;
      border-radius: 0;
      height: 100vh;
      font-size: 10px;
    }

    .left {
      width: 400px;
      padding: 0 20px;
      @media screen and (max-width: $breakpoint-mobile) {
        width: 100%;
      }
      h1 {
        font-size: 50px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
      }
      p {
        font-size: 14px;
        line-height: 1.5;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          display: flex;
          align-items: center;

          svg {
            display: inline-block;
          }
          p {
            display: inline-block;
            padding-left: 14px;
            font-size: 14px;
            margin: 5px;
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 14px;

        div {
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          font-size: 13px;

          span {
            color: red;
            display: none;
          }
        }
        input {
          height: 45px;
          border: 1px solid gray;
          border-radius: 5px;
          padding-left: 20px;
          font-family: "Roboto", sans-serif;
          cursor: pointer;
          font-weight: bold;
          @media screen and (max-width: $breakpoint-mobile) {
            width: 95%;
          }
        }
        button {
          background: #232742;
          color: white;
          border: none;
          border-radius: 5px;
          height: 45px;
          font-weight: bold;
          cursor: pointer;
          @media screen and (max-width: $breakpoint-mobile) {
            width: 95%;
          }
        }
        button:hover {
          background-image: linear-gradient(to right, #ff5377, #ff673e);
        }
      }
    }
    .right {
      .desktop-svg-container {
        width: 100%;
        height: auto;
        @media screen and (max-width: $breakpoint-tablet) {
          display: none;
        }
      }
      .mobile-svg-container {
        display: none;
        width: 100%;
        height: auto;
        @media screen and (max-width: $breakpoint-tablet) {
          display: block;
        }
        img {
          @media screen and (max-width: $breakpoint-tablet) {
            max-width: 350px;
            border-radius: 10px;
            // width:100%;
          }
          @media screen and (max-width: $breakpoint-mobile) {
            width: 100%;
            border-radius: 0;
          }
        }
        g {
          width: 100%;
        }
      }
    }
  }
}
