$breakpoint-tablet: 768px;
$breakpoint-mobile: 420px;



*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(/assets/fonts/Roboto-Regular.ttf);
}

body{
    background: #36384d;
    font-family: Roboto-Regular;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .container{
        background: white;
        max-width: 400px;
        height: auto;
        border-radius: 30px;
        padding: 20px 40px;
        @media screen and (max-width:$breakpoint-mobile) {
            height: 100%;
            width: 100%;
            border-radius: 0;
        }
        h1{
            margin: 0;
            font-size: 40px;
            color: #252840;
            margin-top: 30px;
        }
        p{
            line-height: 1.5;
            font-size: 14px;
        }
        button{
            background: #232742;
            border: none;
            color: white;
            border-radius: 5px;
            font-weight: bold;
            width: 100%;
            margin: 28px 0;
            padding: 15px 0;
            cursor: pointer;
        }
        button:hover{
            background-image: linear-gradient(to right,#ff5377, #ff673e);
        }
    }
}